.DS_Store

*.pyc
*.pyx
*.log

.idea/
mercury/frontend/static/.idea/
venv/
mercury/frontend/static/js/lib/bower_components/


workflow/.idea/
workflow/target/
!workflow/.mvn/wrapper/maven-wrapper.jar
*.iws
*.iml
*.ipr
