<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper>

  <select id="getDepartmentById" parameterType="int" resultMap="departmentResultMap">
    SELECT * FROM department WHERE id = #{departmentId}
  </select>

  <select id="getDepartmentAndSubList" parameterType="int" resultMap="departmentResultMap">
    SELECT * FROM department WHERE FIND_IN_SET(id, getSubDepartmentList(#{departmentId}))
  </select>

  <select id="getDepartmentAndSubUserList" parameterType="int" resultType="String">
    SELECT b.usercode FROM department_user a, user b
    WHERE a.user_id=b.id
    AND a.department_id IN (
      SELECT id FROM department WHERE FIND_IN_SET(id, getSubDepartmentList(#{departmentId}))
    )
  </select>

  <select id="getGridByCode" parameterType="String" resultMap="gridResultMap">
    SELECT * FROM grid WHERE code=#{code}
  </select>

  <resultMap id="departmentResultMap" type="com.smallpay.workflow.dcms.entity.Department">
    <id property="id" column="id"/>
    <result property="code" column="code"/>
    <result property="name" column="name"/>
    <result property="parentId" column="parent_id"/>
  </resultMap>

  <resultMap id="gridResultMap" type="com.smallpay.workflow.dcms.entity.Grid">
    <id property="id" column="id"/>
    <result property="code" column="code"/>
    <result property="usercode" column="usercode"/>
    <result property="status" column="status"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>
</mapper>