<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>我可以认领的案件</h5>
      </div>
      <div class="ibox-content">

      </div>
    </div>
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>我需要处理的案件</h5>
      </div>
      <div class="ibox-content">

      </div>
    </div>
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>我的历史案件</h5>
      </div>
      <div class="ibox-content">

      </div>
    </div>
  </div>
</div>