<div ng-controller="materialCategoryCtrl">
    <div ng-include="main.contentTitleTemplatePath"></div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            <small>全部分类列表</small>
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div js-tree="categoryTreeConfig" ng-model="categoryTreeData" tree="treeInstance" tree-events="ready:categoryTreeReadyCB"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <form class="form-horizontal">
                                <h3>添加原料分类</h3>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">上级分类</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" ng-options="category.id as category.name for category in categories| orderBy: 'id'"
                                                ng-model="categoryAdd.parent_id">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">分类名称</label>
                                    <div class="col-lg-10">
                                        <input type="text" placeholder="分类名称" class="form-control" ng-model="categoryAdd.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-default btn-white" ng-click="addCategory()">添 加</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <form class="form-horizontal">
                                <h3>修改原料分类</h3>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">选择分类</label>
                                    <div class="col-lg-10">
                                        <select class="form-control">
                                            <option>热菜</option>
                                            <option>冷菜</option>
                                            <option>酒水</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">分类名称</label>
                                    <div class="col-lg-10">
                                        <input type="text" placeholder="新分类名称" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-default btn-white" type="submit">修 改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>