<div class="loginColumns animated fadeInDown" ng-controller="LoginCtrl">
  <div class="row">

    <div class="col-md-6">
      <h2 class="font-bold">欢迎使用吉林市城市管理系统</h2>

      <p>
        吉林市是经国务院法制办批复的，开展城市管理相对集中行政处罚权试点城市。
      </p>

      <p>
        市城管行政执法局是根据《中华人民共和国行政处罚法》和《国务院办公厅关于继续做好相对集中行政处罚权试点工作的通知》精神，于2001年12月25日成立的，根据吉林市编委《关于城市管理行政执法局加挂市市容局和市政府广告管理办公室牌子的批复》精神，2002年10月，市城市管理行政执法局加挂市市容管理局和市政府广告管理办公室牌子。
      </p>

    </div>
    <div class="col-md-6">
      <div class="ibox-content">
        <form class="m-t" role="form" ng-submit="doLogin()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="用户名/手机号" ng-model="loginForm.username" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" ng-model="loginForm.password" required>
          </div>
          <button type="submit" class="btn btn-primary block full-width m-b">登 录</button>

          <a href="#">
            <small>忘记密码？</small>
          </a>

          <p class="text-muted text-center">
            <small>还没有注册？</small>
          </p>
          <a class="btn btn-sm btn-white btn-block" href="#">注册新用户</a>
        </form>
        <p class="m-t">
          <small>小付钱包技术(北京)有限公司 &copy; 2016</small>
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      Copyright Smallpay Inc.
    </div>
    <div class="col-md-6 text-right">
      <small>© 2015-2016</small>
    </div>
  </div>
</div>